ENV=production
SECRET_KEY=1ac2640744b928bac7c51313ad99617264b84f52fc3413d9b2e04477d312b128
DATABASE_URL=postgresql://postgres:UpVBvMoknBTwdOrUSbvnlHweeBRSfDrG@postgres.railway.internal:5432/railway




